{{#section 'css'}}
	.post {
		background: #ddddc2;
		/* rgb(221, 221, 194)*/
		min-height: 75px;
		width: 500px;
		margin-bottom: 5px;
	}
	.image {
		float: left;
		background-color: red;
	}
	.contents {
		clear: right;
		height: 50px;
	}
	.title {
		font-size: 25px
	}
	.buttons {
		float: right;
		height: 25px;
		clear: right;
	}
	.replyButton {
		float: right;
		height:100%;
		width: 60px;
		text-align: center;
		background-color: #8B86F5;
		text-align: center;
	}
	.deleteButton {
		float: right;
		height:100%;
		background-color: #C77DFB;
		width: 55px;
		text-align: center;
	}
{{/section}}
<div class="postList">
<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<!-- START EXTRAS for testing -->

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>


<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>


<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>


<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>

<div class="post">
	<div class="image">
		<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="75px" height="75px" /><br>
	</div>
	<div class="contents">
		<span class="title"><a href="/test">{{content.posts.[0].title}}</a></span><br>
		<span>{{content.posts.[0].poster}}</span>
	</div>
	<div class="buttons">
		<div class="deleteButton">
			Delete
		</div>
	</div>
</div>
<!-- END EXTRAS for testing -->
</div>

