{{#section 'css'}}
	/* Containers */
	#forumContainer {
		width: 700px;
		clear: both;
	}
	.repliesContainer {
		float: right;
		width: 500px;
	}

	.reply2 {
		border-radius: 10px;
		-moz-border-radius: 10px;
		overflow: hidden;
	}

	/* Header CSS */
	.title {
		width: 90%;
		float: left;
		padding-left: 5px;
	}
	.title.post {
		font-size: 25px;
		background-color: #f2594b;
	}
	.title.reply {
		font-size: 15px;
		background-color: #63a69f;
	}
	.editButton {
		width: 10%
		float: right;
		background-color: lightgrey;
		text-align: center;
	}
	.editButton.post {
		height: 38px;
	}


	/* Body CSS */
	.info {
		float: left;
		width: 20%;
		padding: 5px;
		text-align: center;
	}
	.contentContainer {
		clear:both;
		background: rgb(221,221,194);
		overflow: auto;
	}
	.content {
		float: right;
		width: 80%;
		padding: 10px;
	}
	.content.reply {
		font-size: 12px;
	}

	/*This works on the post class but not on the contentContainer class - the problem was a need to clear the uneven edit button
	Links for how this work:
	https://stackoverflow.com/questions/637921/opacity-of-background-color-but-not-the-text
	https://stackoverflow.com/questions/806000/how-do-i-give-text-or-an-image-a-transparent-background-using-css 
	.post, .reply {
		background: rgba(242,225,172,0.7);
		**I kept the opacity of the brighter color I liked but used a darker background.
	}
	*/


	/* Footer */
	.footer {
		min-height: 24px;
		margin-bottom: 15px;
		background: rgb(221,221,194);
		clear:both;
	}
	.replyButton {
		float: right;
		width: 10%;
		/*color: white;*/
		text-align: center;
		background-color: #8B86F5; 
		/* Nice colors:
			blue: #687FD8- too similar to background
			blue: #35478C- too dark for black text, but good contrast
			dark purple: #3C36A3- too dark for black text, but good contrast
		*/
	}
	.reflectButton {
		float: right;
		width: 15%;
		background-color: grey;
	}
	.reflection {
		clear: both;
		background: rgba(0,0,0,0.20);
		padding: 10px;
	}

	.reflectionChecklistContainer {
		float: left;
		width: 50%;
	}
	.studentReflectionContainer {
		float: right;
		width: 50%;
	}
	.checklistTitle, .selfReflectionTitle, .teacherFeedbackTitle {
		background-color: #35478c;
		/* nice colors 
			3C36A3- purple
		*/
		color: white;
		text-align: center;
		clear:both;
	}
	#forumContainerFooter {
		clear: both;
		min-height: 5px;
	}
{{/section}}


	<div id="forumContainer">
		<div class="post">
			<!--Post Heading -->
			<div class="head post">
				<div class="title post">
					{{content.posts.[0].title}}
				</div>
				<div class="editButton post">
					Edit
				</div>
			</div>

			<!--Poster and Poster's Content -->
			<div class="contentContainer post">
				<div class="info post">
					<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png" width="100px" height="100px" /><br>
					<span>{{content.posts.[0].poster}}</span>
				</div>
				<div class="content post">
					{{content.posts.[0].content}}
				</div>
			</div>

			<!--Reply Button -->
			<div class="footer post">
				<div class="replyButton">
					Reply
				</div>
				<div class="reflectButton">
					Reflection
				</div>

				<!--Reflection Space-->
				<div class="reflection post">
					<div class="reflectionSpacer"></div>
					<div class="reflectionChecklistContainer">
						<div class="checklistTitle">
							Assignment Checklist
						</div>
						<div>
							<ul class="checklist">
								<li>{{content.posts.[0].reflection.checklist.[0]}} <input type="checkbox" checked onclick="this.checked=!this.checked;"></li>
								<li>{{content.posts.[0].reflection.checklist.[2]}} <input type="checkbox" checked onclick="this.checked=!this.checked;"></li>
								<li>{{content.posts.[0].reflection.checklist.[4]}} <input type="checkbox" checked onclick="this.checked=!this.checked;"></li>
							</ul>
						</div>
					</div>
					<div class="studentReflectionContainer">
						<div class="selfReflectionTitle">
							Self-reflection Summary
						</div>
						<div>
							{{content.posts.[0].reflection.studentSummary}}
						</div>
					</div>
					<div class="teacherFeedbackContainer">
						<div class="teacherFeedbackTitle">
							Teacher Feedback
						</div>
						<div class="teacherFeedback">
							{{content.posts.[0].reflection.teacherFeedback}}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="repliesContainer">
			<div class="reply">
				<!-- Reply Heading -->
				<div class="head reply">
					<div class="title reply">
						{{content.posts.[0].replies.[0].title}}
					</div>
					<div class="editButton">
						Edit
					</div>
				</div>

				<!-- Replier and Replier's Content -->
				<div class="contentContainer reply">
					<div class="info reply">
						<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png"/ width="100px" height="100px"><br>
						<span>{{content.posts.[0].replies.[0].name}}</span>
					</div>
					<div class="content reply">
						{{content.posts.[0].replies.[0].reply}}
					</div>
				</div>

				<!-- Reply Button -->
				<div class="footer reply">
					<div class="replyButton">
						Reply
					</div>
				</div>
			</div>

			<div class="reply2">
				<!-- Reply Heading -->
				<div class="head reply">
					<div class="title reply">
						{{content.posts.[0].replies.[1].title}}
					</div>
					<div class="editButton reply">Edit</div>
				</div>

				<!-- Replier and Replier's Content -->
				<div class="contentContainer reply">
					<div class="info reply">
						<img src="https://cdn1.iconfinder.com/data/icons/animals-18/154/cat-seat-skin-body-animal-512.png"/ width="100px" height="100px"><br>
						<span>{{content.posts.[0].replies.[1].name}}</span>
					</div>
					<div class="content reply">
						{{content.posts.[0].replies.[1].reply}}
					</div>
				</div>

				<!-- Reply Button -->
				<div class="footer reply">
					<div class="replyButton">Reply</div>
				</div>
			</div>
		</div>
	</div>




<!--
		<div class="reply">
			<div class="replyHead">{{content.posts.[0].replies.[1].title}}</div>
			<div class="replyBody">{{content.posts.[0].replies.[1].reply}}</div>
			<div class="replyFooter">
				<div class="editButton">Edit</div>
				<div class="replyButton">Reply</div>
			</div>
		</div>
	</div>
	<div id="forumContainerFooter"></div>
	</div>

	<div>
		{{content}}
		<h1>Settings</h1>
		Post Name: {{content.settings.name}}<br>
		Directions: {{content.settings.directions}}<br>
		Grading Method: {{content.settings.gradingMethod}}<br><br>

		<h1>Posts</h1>
		Post Title: {{content.posts.[0].title}}<br>
		Poster: {{content.posts.[0].poster}}<br>
		Content: {{content.posts.[0].content}}<br><br>

		<h1>Replies</h1>
		<h3>Post 1</h3>
		Title: {{content.posts.[0].replies.[0].title}}<br>
		Name: {{content.posts.[0].replies.[0].name}}<br>
		Reply: {{content.posts.[0].replies.[0].reply}}<br>
		Date: {{content.posts.[0].replies.[0].date}}<br><br>

		<h3>Post 2</h3>
		Title: {{content.posts.[0].replies.[1].title}}<br>
		Name: {{content.posts.[0].replies.[1].name}}<br>
		Reply: {{content.posts.[0].replies.[1].reply}}<br>
		Date: {{content.posts.[0].replies.[1].date}}<br><br>
	</div>
	-->